

/*     font-family: 'Muli', sans-serif;

    font-family: 'Nanum Gothic', sans-serif; */

/* Color Theme Swatches in Hex */
:root {
    --green-color: #007574;
    --light-tan-color: #F3E8D6;
    --dark-tan-color: #C2AD9D;
    --brown-color: #766150;
    --dark-brown-color: #5D3F29;
}

.ネギ(根元)-2-hex { color: #F3E8D6; }
.ネギ(根元)-3-hex { color: #C2AD9D; }
.ネギ(根元)-4-hex { color: #766150; }
.ネギ(根元)-5-hex { color: #5D3F29; }

/* Color Theme Swatches in RGBA */
.ネギ(根元)-1-rgba { color: rgba(0, 117, 116, 1); }
.ネギ(根元)-2-rgba { color: rgba(243, 232, 214, 1); }
.ネギ(根元)-3-rgba { color: rgba(194, 173, 157, 1); }
.ネギ(根元)-4-rgba { color: rgba(118, 97, 80, 1); }
.ネギ(根元)-5-rgba { color: rgba(93, 63, 41, 1); }

* {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: 1024px;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    color: grey;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    color: whitesmoke;
}

h2, nav ul li {
    text-transform: uppercase;
}

h2 {
    font-weight: 900;
    margin: 40px auto;
}

header {
    background-color: var(--green-color);
    padding: 20px 20px;
    border-bottom: #766150 10px solid;
}

nav {
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px 0;
    background-color: var(--light-tan-color);
    margin: 5px 0;
}

.crop_wrapper {
    max-height: 320px;
    overflow: hidden;
    border-radius: 50px;
}

.profile img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
}

.profile p {
    color: whitesmoke;
}

main {
    padding: 20px 20px;
    background-color:var(--light-tan-color);
}

.project img {
    width: 100%;
    margin: 0 auto;
}

.experience ul {
    padding: 0;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    list-style-type: none;
    font-size: 0.8em;
}

.experience ul li {
    margin: 5px 0;
    padding: 10px 10px 10px 10px;
    background-color: var(--dark-tan-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}

.experience ul li img {
    max-width: 90%;
}

.experience ul li p {
    margin: 5%;
}

.contact p span {
    font-weight: 900;
    margin-left: 20px;
}

footer {
    padding: 20px 20px;
    border-top: #766150 10px solid;
    background-color: var(--green-color);
    color: whitesmoke;
}

footer h4:first-of-type {
    float: left;
}

footer h4:last-of-type {
    float: right;
    text-transform: uppercase;
}

footer nav {
    display: none;
}

@media screen and (min-width: 768px) {
    h1, h2 {
        font-size: 1.5em;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav ul {
        margin: 0;
    }
    
    nav ul li {
        display:inline-block;
        padding: 10px;
        border-radius: 20px;
        margin: 0 20px;
    }

    .profile {
        display: flex;
        flex-flow: row-reverse;
        max-height: 200px;
    }

    .profile img {
        transform: translateY( -8%); 
    }

    .profile p {
        text-align: left;
        font-size: 1.3em;
        max-width: 60%;
        margin: 0;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    main h2 {
        width: 100%;
    }

    .project {
        max-width: 49%;
    }

    .project p {
        padding: 0 30px
    }

    .experience ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .experience ul li {
        width: 30%;
        justify-content: space-around;
        text-align: left;
    }

    .contact {
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
    }

    .contact p {
        max-width: 75%;
        margin: 10px auto;
        font-size: 1.2em;
    }
    
    footer {

        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }

    footer h4, footer nav {
        margin: auto 0;
        font-size: 0.9em;
    }

    footer h4:last-of-type {
        display: none;
    }

    footer nav {
        display: inline-block;
        padding: 0;
    }

    footer nav ul li {
        padding: 0;
        background-color: var(--green-color);
        color: white;
    }
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-flow: row wrap;
        padding: 40px 40px;
    }

    header h1 {
        text-align: left; 
    }

    header nav {
        margin: 0 0 20px auto;
        margin-bottom: 50px;
        padding: 0;
    }

    header nav ul li:last-child {
        margin-right: 0;
    }

    .profile img {
        transform: translateY( -12%) scale(1.1, 0.95); 
    }

    .profile p {
        max-width: 57%;
        margin-right: 20px;
    }

    main {
        padding: 40px 40px;
    }

    .project {
    max-width: 32%;
    }

    .experience ul li {
        justify-content: space-around;
    }
  
    .contact p {
    max-width: 55%;
    margin: 10px auto 20px auto;
    font-size: 1.2em;
    }

    footer {
        padding: 40px 40px;
    }
}
